spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/create
    user-name: postgres
    password: Vamshi@123
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  hibernate:
    ddl-auto: update

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type: TRACE